* {
 padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}
h1{
  display: inline;

  background-color: silver;
  width: 2px;
  height: 4px;
}

header .menu {
  float:left;
  width:100%;


  border: solid 1px black;
}

.Cursuri,.galerie_foto,.menu p{
  float:left;
  width:auto;
}

.menu .contact {
  display: inline-block;
  float: right;
  border: solid 1px black;
  padding: 1px;
  margin: 1px;

}

.menu .galerie_foto {
  border: solid 1px black;
  padding: 1px;
  margin: 1px;
}

.menu .Cursuri {
  border: solid 1px black;
  padding: 1px;
  margin: 1px;
  text-decoration: none;
  list-style-type: none;
}

.Cursuri ul{
  display: none;
}

.menu p {
  border: solid 1px black;
  padding: 1px;
  margin: 1px;

}


header {
  background: aquamarine;
  display: block;
  border: solid 2px cornflowerblue;
  margin: 1px;
  padding: 1px;

}

section {
  background: mediumturquoise;
  border: solid 2px blueviolet;
  margin: 1px;
  padding: 20px;
  height: 400px;




}

article {
  background: mediumturquoise;
  border: solid 2px blue;
  margin: 1.5px;
  padding: 1.5px;
  display: inline-block;
  float:left;
  width: 49.8%;
  height: 80%;





}
.Lista_cursuri_acreditate {
  margin: 1.5px;
  padding: 1.5px;
  text-align: center;
  font-size: 20px;
}

.titlu1 {

  margin: 1px;
  padding: 1px;
}

.Lista_cursuri_acreditate li {

  text-decoration: none;
  list-style-type: none;
  width: 49.0%;
  height: 4em;
  display: inline-block;
  border: solid 2px blue;
  margin: 1px;

}

.Lista_cursuri_dezvoltare_personala {
  margin: 1.5px;
  padding: 1.5px;
  text-align: center;
  font-size: 20px;
}


.titlu2 {

  margin: 1px;
  padding: 1px;
}

.Lista_cursuri_dezvoltare_personala li {
  text-decoration: none;
  list-style-type: none;
  width: 49.0%;
  height: 4em;
  display: inline-block;
  border: solid 2px blue;
  margin: 1px;

}







footer {
  background: cadetblue;
  border: solid 2px deepskyblue;
  margin: 1px;
  padding: 1px;
  clear: left;
}
